@font-face {
   font-family: "Whitney";
   src: url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot");
   src: url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix") format("embedded-opentype"),
      url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff") format("woff"),
      url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf") format("truetype");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}
* {
   font-family: "Whitney";
   padding: 0px;
   margin: 2px;
}

.container {
   margin: 20px;
   display: flex;
   justify-content: space-between;
}
/* product Image CSS */
.img-card {
   width: 60%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   height: fit-content;
}
.img-card > div {
   width: 96%;
   overflow: hidden;
   cursor: pointer;
}

.pdimg {
   width: 100%;
   background-size: cover;
   transition: all 0.5s;
}

.img-card > div:hover .pdimg {
   transform: scale(1.1);
}

/* Details Card CSS */
.details-card {
   width: 37%;
}

.pdtitle {
   font-size: 24px;
   font-weight: 700;
   color: #282c3f;
}

.pdname {
   font-size: 20px;
   font-weight: 400;
   opacity: 0.8;
}

.pdmorecolor {
   height: 80px;
}

.pdmorecolor > img {
   height: 100%;
   cursor: pointer;
}

.price-card {
   display: flex;
   align-items: center;
}
/* Rating Desing */
.rating-card {
   display: flex;
   align-items: center;
   cursor: pointer;
   border: 1px solid gainsboro;
   width: fit-content;
   padding: 0px 10px;
   font-size: 14px;
   margin: 15px 0px;
}

.sizebtn {
   background-color: #fff;
   color: #282c3f;
   border: 1px solid #bfc0c6;
   border-radius: 50px;
   min-width: 40px;
   height: 40px;
   text-align: center;
   cursor: pointer;
}

.sizebtn:hover {
   border: 1px solid #ff3f6c;
}

.sizebtn-selected {
   border: 1px solid #ff3f6c;
   background-color: #fff;
   color: #ff3f6c !important;
   font-weight: 700;
}

.btn-card {
   margin-top: 15px;
   display: flex;
   gap: 15px;
   height: 45px;
}

.addtobag {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ff3f6c;
   border: none;
   border-radius: 2px;
   width: 45%;
   color: white;
   cursor: pointer;
}
.addtobag:hover {
   background-color: #ff527b;
   opacity: 0.9;
}

.addtowishlist {
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid;
   border-radius: 2px;
   width: 35%;
   cursor: pointer;
}

.pin {
   border: 1px solid #d4d5d9;
   width: fit-content;
   border-radius: 5px;
   padding: 0px 8px;
   display: flex;
   align-items: center;
   margin-top: 15px;
}
.pin > input {
   border: none;
   height: 30px;
   width: 7em;
}

.pin > input:focus {
   outline: none;
}

#checkPin {
   color: #ff3f6c;
   cursor: pointer;
}
.offer-card {
   margin-top: 10px;
}
.offer-card > ul > li {
   margin-left: 4%;
   font-size: 12px;
}

/* Styles for Bag Page */
.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 60px;
   border-bottom: 1px solid #f5f5f6;
   letter-spacing: 2px;
   font-weight: 600;
}
.header > .secureContainer,
.logo {
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
}
.header > .checkout-steps {
   width: 40%;
   display: flex;
   justify-content: center;
   list-style-type: none;
   font-size: 12px;
}
.divider {
   border-top: 1px dashed #696b79;
   height: 4px;
   width: 30px;
   margin-top: 10px;
}
.active {
   color: #20bd99;
   border-bottom: 2px solid #20bd99;
}

.block {
   display: flex;
   max-width: 900px;
   margin: auto;
   justify-content: space-between;
   margin-right: 100px;
}

.block > .left-block {
   width: 60%;
   padding-right: 15px;
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.block > .right-block {
   width: 40%;
   margin-left: 100px;
   padding-top: 15px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.addressStrip {
   padding: 16px;
   border-radius: 4px;
   border: 1px solid #eaeaec;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}

.addressStrip-change {
   padding: 8px 16px;
   font-size: 10px;
   font-weight: 600;
   border-radius: 2px;
   background-color: rgb(255, 255, 255);
   color: rgb(255, 63, 108);
   border: 1px solid rgb(255, 63, 108);
   cursor: pointer;
}
.offerStrip {
   padding: 16px;
   border-radius: 4px;
   border: 1px solid #eaeaec;
}
.offer-items > li {
   font-size: 13px;
   color: #282c3f;
   margin-left: 6%;
}
.offer-hide {
   display: none;
}

.more-text {
   margin-left: 6%;
   color: #ff3f6c;
   font-size: 14px;
   cursor: pointer;
}
.itemContainer-item {
   padding: 8px;
   border-radius: 4px;
   border: 1px solid #eaeaec;
   display: flex;
   justify-content: space-around;
}
.itemContainer-tickIcon {
   position: absolute;
   margin: 5px;
   fill: #ff3f6c;
}

.itemContainer-itemLeft {
   width: 25%;
   height: 150px;
}
.itemContainer-itemLeft > img {
   width: 100%;
   height: 100%;
}
.itemContainer-title {
   width: 90%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.sizeQtyContainer {
   display: flex;
   margin: 8px 0px;
}
.itemContainer-itemRight {
   width: 70%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.item-price {
   display: flex;
   /* margin-top: 15px; */
}

/* Right Block styling */
.{
   donationStrip-Header
}

/* Quick Styling CSS */
.btn-111 {
   font-size: 12px;
   position: absolute;
   top: 0px;
   right: 0px;
   padding: 4px 16px;
   font-weight: 600;
   border-radius: 2px;
   background-color: rgb(255, 255, 255);
   color: rgb(255, 63, 108);
   border: 1px solid #ff527b;
   cursor: pointer;
}
.width-80 {
   width: 80%;
}
.fs-10 {
   font-size: 10px;
   margin-top: 5px;
   color: #535665;
}
.fs-12 {
   font-size: 12px;
   margin-top: 5px;
}
.fs-14 {
   font-size: 14px;
   margin-top: 5px;
   line-height: 18px;
}
.mg-top-20 {
   margin-top: 20px;
}
.mg-top-10 {
   margin-top: 10px;
   display: flex;
   align-items: center;
}
.flex {
   display: flex;
   align-items: center;
}
.strikethrough {
   text-decoration: line-through;
   font-size: 16px;
}
.orange-1 {
   color: #ff905a;
}
.pink-1 {
   color: #ff3f6c;
}
.gray-1 {
   color: #535665;
}
.gray-2 {
   color: #d4d5d9;
}

.teal-1 {
   color: #03a685;
}

.fw-600 {
   font-weight: 600;
}

/*  */
