@font-face {
   font-family: "Whitney";
   src: url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot");
   src: url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix") format("embedded-opentype"),
      url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff") format("woff"),
      url("https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf") format("truetype");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}
* {
   font-family: "Whitney";
   padding: 0px;
   margin: 2px;
}

.container {
   margin: 20px;
   display: flex;
   justify-content: space-between;
}
/* product Image CSS */
.img-card {
   width: 60%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   height: fit-content;
}
.img-card > div {
   width: 96%;
   overflow: hidden;
   cursor: pointer;
}

.pdimg {
   width: 100%;
   background-size: cover;
   transition: all 0.5s;
}

.img-card > div:hover .pdimg {
   transform: scale(1.1);
}

/* Details Card CSS */
.details-card {
   width: 37%;
}

.pdtitle {
   font-size: 24px;
   font-weight: 700;
   color: #282c3f;
}

.pdname {
   font-size: 20px;
   font-weight: 400;
   opacity: 0.8;
}

.pdmorecolor {
   height: 80px;
}

.pdmorecolor > img {
   height: 100%;
   cursor: pointer;
}
/* Rating Desing */
.rating-card {
   display: flex;
   align-items: center;
   cursor: pointer;
   border: 1px solid gainsboro;
   width: fit-content;
   padding: 0px 10px;
   font-size: 14px;
   margin: 15px 0px;
}

.sizebtn {
   background-color: #fff;
   color: #282c3f;
   border: 1px solid #bfc0c6;
   border-radius: 50px;
   min-width: 40px;
   height: 40px;
   text-align: center;
   cursor: pointer;
}

.sizebtn:hover {
   border: 1px solid #ff3f6c;
}

.btn-card {
   margin-top: 15px;
   display: flex;
   gap: 15px;
   height: 45px;
}

.addtobag {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ff3f6c;
   border: none;
   border-radius: 2px;
   width: 45%;
   color: white;
   cursor: pointer;
}
.addtobag:hover {
   background-color: #ff527b;
   opacity: 0.9;
}

.addtowishlist {
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid;
   border-radius: 2px;
   width: 35%;
   cursor: pointer;
}

.pin {
   border: 1px solid #d4d5d9;
   width: fit-content;
   border-radius: 5px;
   padding: 0px 8px;
}
.pin > input {
   border: none;
   height: 30px;
}

.pin > input:focus {
   outline: none;
}

#checkPin {
   color: #ff3f6c;
   cursor: pointer;
}
.offer-card {
   margin-top: 10px;
}
.offer-card > ul > li {
   margin-left: 4%;
   font-size: 12px;
}

/* Quick Styling CSS */
.width-80 {
   width: 80%;
}
.fs-12 {
   font-size: 12px;
   margin-top: 5px;
}
.fs-14 {
   font-size: 14px;
   margin-top: 5px;
   line-height: 18px;
}
.mg-top-20 {
   margin-top: 20px;
   display: flex;
   align-items: center;
}
.mg-top-10 {
   margin-top: 10px;
   display: flex;
   align-items: center;
}
.strikethrough {
   text-decoration: line-through;
   font-size: 16px;
}
.orange-1 {
   color: #ff905a;
}
.pink-1 {
   color: #ff3f6c;
}
.gray-1 {
   color: #535665;
}
.gray-2 {
   color: #d4d5d9;
}

.teal-1 {
   color: #03a685;
}

.fw-600 {
   font-weight: 600;
}

/*  */
