#mainContainer{
    display: flex;
    justify-content: space-between;
}
#mainContainer>div:first-child{
    width: 20%;
}
#mainContainer>div:last-child{
    width: 75%;
}

#container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#container>div{
    height: 360px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
#container>div>img{
    width: 100%;
    height: 70%;
}
#container>div>h3{
    font-size: 16px;
    padding-left: 10px;
    margin: 0px 0px 6px 0px;
}
#container>div>h4{
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    height: 18px;
    overflow: hidden;
    text-overflow: clip;
}
#container>div>*:nth-child(4){
    font-size: 14px;
    color: #282c3f; 
    font-weight: bolder;
    padding-left: 10px;
    margin: 10px 0px 6px 0px;
}
#container>div>*:nth-child(5){
    color: #7e818c;
    text-decoration: line-through;
    font-weight: 400;
   font-size: 12px;
   margin: 10px 0px 6px 5px;
}
#container>div>*:nth-child(6){
    color: #ff905a;
    font-size: 12px;
    margin: 10px 0px 6px 5px;
}
#sort{
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    /* border: 0.01px solid #282c3f; */
    /* position: absolute;
    right: 0px; */
}
#filterSize, #filterCountry, #filterBundles{
    border: none;
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    border-radius: 15px;
}
#sortSection{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#first-heading>span{
    font-size: 14px;
}
#second-heading{
    margin-top: 10px;
}
#second-heading>span:first-child{
    font-weight: bolder;
    color: #282c3f;
    font-size: 16px;
}
#second-heading>span:nth-child(2), #second-heading>span:last-child{
    color: #878b94;
    font-size: 16px;
}